# Virtual Environments
venv/
.env/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Database
*.db
*.sqlite3

# Environment Variables
.env
.env.local

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Multer Uploads
uploads/
node-backend/uploads/

# Global Env Files
**/.env
**/.env.local
